---
import Card from "../components/Card.astro";
import Base from "../layouts/Base.astro";
import Header from "../components/Header.astro";
import { getOffres } from "../../backend.mjs";

const offres = await getOffres();
console.log(offres);

---
<div>
        <Base titre="Accueil">
			<h1>Offres</h1> 

	</div>
	<div x-data="{ showFavorites: false }">
		<button @click="showFavorites = !showFavorites">
			<span x-show="!showFavorites">Afficher les favoris</span>
			<span x-show="showFavorites">Afficher tout</span>
		</button>
	
		<div x-show="!showFavorites">
			{offres.map((offre) => <Card {...offre} />)}
		</div>
		<div x-show="showFavorites">
			{offres.filter((offre) => offre.favori).map((offre) => <Card {...offre} />)}
		</Base>
		</div>
	</div>




