---
import LogoFacebook from "../assets/IconFacebook.svg";
import LogoInstagram from "../assets/IconInstagram.svg";
import LogoTwitter from "../assets/IconTwitter.svg";
import LogoLinkedin from "../assets/IconLinkedin.svg";
---


<footer class="text-center py-6">
    <p class="text-gray-500 text-sm">©2021 Estatery. All rights reserved</p>
    <div class="flex justify-center space-x-4 mt-4 text-gray-400">
        <LogoFacebook class="fill-current" />
        <LogoInstagram class="fill-current" />
        <LogoTwitter class="fill-current" />
        <LogoLinkedin class="fill-current" />
    </div>
</footer>